
.contact_us {
  max-width: 800px;
  margin: 40px auto;
  position: relative;
}
.contact_us .form_title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 48px;
  padding-bottom: 48px;
    background: -moz-linear-gradient(left,#ae7041  0%,#472a16 100%) !important;
    background: -webkit-linear-gradient(left,#ae7041  0%,#472a16 100%) !important;
    background: linear-gradient(to right,#ae7041  0%,#472a16  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
  text-align: center;
}
.contact-form .input-text {
  display: block;
  width: 85%;
  height: 50px;
  margin-left:100px;
  border-width: 0 0 2px 0;
  border-color: #472a16;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .labels {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #472a16;
  cursor: text;
}
.contact-form .submit-btn {
  display:flexbox;
  background-color: #000;
   background-image: linear-gradient(125deg,#ae7041,#472a16);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

